<div class="row">
	<div class="col-sm-8">
		<h1>New Menu Item</h1>

		<%= render 'form', menu_item: @menu_item %>

		<%= link_to 'Back', menu_items_path, class: "btn btn-sm btn-danger mtop-20" %>
	</div>
</div>