<div class="row">
  <div class="col-sm-5">
    <h1>Editing Dine Table</h1>

    <%= render 'form', dine_table: @dine_table %>

    <%= link_to 'Show', @dine_table, class: "btn btn-sm btn-info" %>
    <%= link_to 'Back', dine_tables_path, class: "btn btn-sm btn-warning" %>
  </div>
</div>